/* common */
img {
    width: 100%;   
}
li {
    list-style: none;
}
/* header */
header {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom:60px;
}

header .navbar-brand h1 {
    font-size: 40px;
}
header .collapse li a {
    font-size:20px ;
}
/* main */
.hero {
    background-image: url("img/bgsee.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height:420px;
    position: relative;
   
}
.hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    
}
/* .hero-text p {
    background: greenyellow;
    display: flex;
    width:400px;
    height: 200px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    opacity: .8;
    margin-bottom: 0;
} */
.service {
    max-width: 1000px;
    margin: 0 auto;
}
.service-title h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: gray;
}
.service-item h4 {
    font-size: 30px;
}
.service-item span {
    color: gray;
}
.service-item .bi {
    font-size: 40px;
} 
.service-item p {
    line-height: 2.0;
}
.works-title h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: gray;
}
/* .works*/
.works {
    max-width: 1000px;
    margin: 0 auto;
}
/* footer */
footer {
    background-color: lightgray;
    margin-top: 60px;
}
.footer-item {
    max-width: 1000px;
    margin: 0 auto;
}
footer li {
    font-size: 25px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
@media (max-width:960px) {
    header .navbar-brand h1 {
        font-size: 20px;
    }
    .service-title  h2 {
        font-size: 25px;
    }
    .service-item h4 {
        font-size: 13px;
    }
    .service-item  .bi {
        font-size: 15px;
    }
    
    .works-title h2 {
        font-size: 25px;
    }
    .footer-item a {
        font-size: 10px;
    }
}



